<ion-header>
  <ion-navbar>
    <ion-title>航班搜索</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
 <div>  
		<div class="list">			
			<ul>
				<li *ngFor="let flight of flightData; index as i; trackBy:trackByFlightData;" (click)="selectTheFlight(flight)">
					<div class="flightTop">
						<div class="topLeft">
							<div>
								<div class="time">{{flight.segments[0].fromDate.substr(5,2)}}:{{flight.segments[0].fromDate.substr(8,2)}}</div>
								<div class="airport">
									<p>{{flight.segments[0].fromAirportCn}}</p>
									<p>{{flight.segments[0].fromTower}}</p>									
								</div>
							</div>
							<div class="midmess">
								<div *ngIf="istranCity">
									<p class="type">转</p>
									<p class="tranformCity">{{flight.segments[0].toCityCn}}</p>
								</div>
								<div *ngIf="isstopCity">
									<p class="type">经停</p>
									<p class="stopoverCity">{{stopoverCityName}}</p>
								</div>
							</div>
							<div>
								<div class="time">{{flight.segments[0].toDate.substr(5,2)}}:{{flight.segments[0].toDate.substr(8,2)}}</div>
								<div class="airport">
									<p>{{flight.segments[0].toAirportCn}}{{flight.segments[0].toTower}}</p>
								</div>

							</div>
						</div>
						<div class="money">￥ <span class="count">{{flight.minAdultFacePrice}}</span></div>
					</div>
					<div class="flightBottom">
						<span class="sign">
						    <img src="../assets/img/airlines/{{flight.segments[0].flightNo.substr(0,2)}}.PNG" />
						</span>						
						<span>{{flight.segments[0].airlineChn}}{{flight.segments[0].flightNo}}<span *ngIf="isShareIco">共享</span> | 机型{{flight.segments[0].planeModel}} </span>
					</div>
					<div class="flightBottom">
						<span class="sign iconfont">&#xe66b;</span>
						<span>总{{flight.segments[0].flightDuration}}m</span>
					</div>
				</li>
			</ul>			
		</div>
		<div class="footer">
			<div (click)=="screen()">
				<div><span class="iconfont">&#xe689;</span></div>
				<div class="filterType">筛选</div>
			</div>
			<div (click)="filterAsTime()">
				<div><span class="iconfont">&#xe68e;</span></div>
				<div class="filterType">从早到晚</div>
			</div>
			<div (click)="filterAsPrice()">
				<div><span class="iconfont">&#xe679;</span></div>
				<div class="filterType">价格</div>
			</div>

  		</div> 
</ion-content>
