.msgIcon{
    position:absolute;
    top:2px;
    right:1px;
    font-size:0.2rem;
    font-family:Arial;
    color:#fff;
    width:1rem;
    height:1rem;
    vertical-align: middle;
    text-align: center;
    background:#ff3030;
    border-radius:90px;
    z-index:113;
}