page-tabs {
 	.jp-tabs{
	   .tab-button{
	      &>ion-icon{
	        font-family:"iconfont" !important;   /*指定在当前组件中的ion-icon使用的字体名称*/
	      }
	  }
	}
	.tabs-ios .tab-button[aria-selected=true]{
	  color:blue;
	  .tab-button-icon{
	    color:blue;
	  }
	}
}
