page-flightdetail {
    .minus_div{ display:inline; }
    .from_trip{
                display:flex;
                margin:1rem 0;
                justify-content: space-between;
                .flex_left{
                    flex:1;
                    >span{
                        display:inline-block;
                        width:15px;
                        height:15px;
                        line-height:15px;
                        text-align:center;
                        color:#fff;
                        background-color:#00b4ff;
                        margin-right:5px;
                    }
                    >p{
                        display:inline-block;
                    }
                }
                .flex_right{
                     flex:1;
                     text-align:right;
                     color:gray;
                }
            }
	.flightMess {
        padding: 0 4% 4%;
        position: relative;
		    &:after {
		        display: block;
		        position: absolute;
		        left: 0;
		        bottom: 0;
		        width: 100%;
		        border-bottom: 1px solid #e2e0e0;
		        content: '';
		    }
		    @media screen and (-webkit-min-device-pixel-ratio: 1) {
		        position: relative;
		        &:after {
		            display: block;
		            position: absolute;
		            left: 0;
		            bottom: 0;
		            width: 100%;
		            border-bottom: 1px solid #e2e0e0;
		            content: '';
		        }
		    }
		    @media screen and (-webkit-min-device-pixel-ratio: 2) {
		        position: relative;
		        &:after {
		            display: block;
		            position: absolute;
		            left: 0;
		            bottom: 0;
		            width: 100%;
		            border-bottom: 1px solid #e2e0e0;
		            content: '';
		            -webkit-transform: scaleY(0.5);
		            transform: scaleY(0.5);
		        }
		    }
		    @media screen and (-webkit-min-device-pixel-ratio: 3) {
		        position: relative;
		        &:after {
		            display: block;
		            position: absolute;
		            left: 0;
		            bottom: 0;
		            width: 100%;
		            border-bottom: 1px solid #e2e0e0;
		            content: '';
		            -webkit-transform: scaleY(0.3);
		            transform: scaleY(0.3);
		        }
		    }
        background: url('../../assets/img/search/index_map.png') center 10px no-repeat;
        background-size: 80%;

        .specific {
            
            .flight {
                position: relative;
                .point_box{
                    position: absolute;
                    left:20%;
                    top:0;
                    width:1px; 
                    height:100%;
                    background-color:#bbb;
                }
                .point{
                    position: absolute;      
                    width:5px;
                    height:5px;             
                    background-color:#00b4ff;
                    border-radius:45px;
                }
                .top{
                    left:-2px;
                    top:-2px;
                }
                .bottom{
                    left:-2px;
                    bottom:-2px;
                }
                .seg {
                    display: flex;
    				justify-content: space-between;
                    .time {
                        width:20%;
                        .arrTime,
                        .depTime {
                            font-size: 1.6rem;
                            color:#333;
                        }
                        .duration {
                            font-size: 10px;
                            color: #666;
                            margin:0.5rem 0;
                        }
                    }
                    .airport {
                        flex-grow: 1;
                        padding-left: 22px;
                        >p {
                            font-size: 14px;
                            line-height:35px;
                            .iconfont {
                                font-size: 14px;
                                margin-right: 6px;
                            }
                            .start {
                                color: green;
                            }
                            .end {
                                color: orange;
                            }
                        }

                    }
                    .airline {
                        p {
                            font-size: 10px;
                            color: gray;
                            text-align: right;
                        }
                        .company {
                            font-size: 12px;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .cabin {
        padding: 0 4%;
        .item {
            display: flex;
    		justify-content: space-between;
            align-items: center;
            position: relative;
		    &:after {
		        display: block;
		        position: absolute;
		        left: 0;
		        bottom: 0;
		        width: 100%;
		        border-bottom: 1px solid #e2e0e0;
		        content: '';
		    }
		    @media screen and (-webkit-min-device-pixel-ratio: 1) {
		        position: relative;
		        &:after {
		            display: block;
		            position: absolute;
		            left: 0;
		            bottom: 0;
		            width: 100%;
		            border-bottom: 1px solid #e2e0e0;
		            content: '';
		        }
		    }
		    @media screen and (-webkit-min-device-pixel-ratio: 2) {
		        position: relative;
		        &:after {
		            display: block;
		            position: absolute;
		            left: 0;
		            bottom: 0;
		            width: 100%;
		            border-bottom: 1px solid #e2e0e0;
		            content: '';
		            -webkit-transform: scaleY(0.5);
		            transform: scaleY(0.5);
		        }
		    }
		    @media screen and (-webkit-min-device-pixel-ratio: 3) {
		        position: relative;
		        &:after {
		            display: block;
		            position: absolute;
		            left: 0;
		            bottom: 0;
		            width: 100%;
		            border-bottom: 1px solid #e2e0e0;
		            content: '';
		            -webkit-transform: scaleY(0.3);
		            transform: scaleY(0.3);
		        }
		    }
            padding: 15px 0;
            .money {
                color: red;
                .currencyType {
                    font-size: 10px;
                }
                .count {
                    font-size: 16px;
                }
            }  
            .cabinAndDiscount{
                display: inline-block;
                color:#666;
                font-size:1.3rem;
            }
            .endorse {
                margin-left:10px;
                color: #00b4ff;
            }
            .order_btn{
                color:#fff;
                font-size:1.4rem;
                background-color:#00b4ff;
                border-radius:5px;
                padding:5px 8px;
            }
        }
    }
    .mergeCabin{
        padding: 0 4%;
        .item{           
            display: flex;
    		justify-content: space-between;
            position: relative;
			    &:after {
			        display: block;
			        position: absolute;
			        left: 0;
			        bottom: 0;
			        width: 100%;
			        border-bottom: 1px solid #e2e0e0;
			        content: '';
			    }
			    @media screen and (-webkit-min-device-pixel-ratio: 1) {
			        position: relative;
			        &:after {
			            display: block;
			            position: absolute;
			            left: 0;
			            bottom: 0;
			            width: 100%;
			            border-bottom: 1px solid #e2e0e0;
			            content: '';
			        }
			    }
			    @media screen and (-webkit-min-device-pixel-ratio: 2) {
			        position: relative;
			        &:after {
			            display: block;
			            position: absolute;
			            left: 0;
			            bottom: 0;
			            width: 100%;
			            border-bottom: 1px solid #e2e0e0;
			            content: '';
			            -webkit-transform: scaleY(0.5);
			            transform: scaleY(0.5);
			        }
			    }
			    @media screen and (-webkit-min-device-pixel-ratio: 3) {
			        position: relative;
			        &:after {
			            display: block;
			            position: absolute;
			            left: 0;
			            bottom: 0;
			            width: 100%;
			            border-bottom: 1px solid #e2e0e0;
			            content: '';
			            -webkit-transform: scaleY(0.3);
			            transform: scaleY(0.3);
			        }
			    }
            .btn{
                margin-top:20px;
            }
            .title{
                height:34px;
                line-height: 38px;
                color:red;
                .currencyType{
                    font-size: 10px;
                }
                .count{
                    font-size: 14px;
                }
            }
            .go,.back{
                >span{
                    margin-right: 1vw;
                }
                .iconfont{
                    color:#999;
                    font-size: 16px;   
                    display: inline-block;
                    transform: translateY(2px);                            
                }
                .money{
                    color:red;
                    display: inline-block;
                    width:50px;
                    .currencyType{
                        font-size: 10px;
                    }
                }
                .endorse{
                    color:#00b4ff;                   
                }
            }
            .back{
                padding-bottom: 5px;
            }
        }
    }
    .orderConfirm{
        width:100vw;
        height:100vh;
        position:fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        background: rgba(0,0,0,0.5);  
        >div{
            position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
        }  
        p{
            color:white;
            text-align: center;
            margin-top:0.2rem;
        }
    }
}
