<ion-header>
  <ion-navbar>
    <ion-title>选择舱位</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<div class="flightMess"  *ngFor="let seg of flightSegs; index as i; trackBy:trackByFlightData;">
	<div class="specific">
		<div class="flight">
			<p><span class="point top"></span></p>
			<p><span class="point bottom"></span></p>
			<div>
				<div class="seg">
					<div class="time">
						<p class="depTime">{{fromDateStr}}</p>
						<p class="duration">{{seg.flightDuration}}m</p>
						<p class="arrTime">{{toDateStr}}</p>
					</div>
					<div class="airport">
						<p>{{seg.fromAirportCn}}{{seg.fromTower}}</p>
						<p>{{seg.toAirportCn}}{{seg.toTower}}</p>
						<p>
							<span class="transfer" *ngIf="istranCity">
								<span class="iconfont zhuan">&#xe606;</span>
								<span class="transferCity">{{tranCity}}</span>
							</span>
							<span class="transferTime" *ngIf="isstopCity">停留{{stopoverCityName}}</span>
						</p>
					</div>
					<div class="airline">
						<p class="company">{{seg.airlineChn}}</p>
						<p class="flightNo">{{seg.flightNo}}</p>
						<p class="craft">{{seg.planeModel}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cabin">
	<ul>
		<li class="item"  *ngFor="let price of flightPrices; index as i;">
			<div>
				<div class="money">
					<span class="currencyType">￥</span>
					<span class="count">{{price.adultFacePrice}}</span>
					<p class="travelTypeYellow minusBox" [hidden]="!isMinus">
				    	<span class="minus_type">{{minusType}}</span>
				    	<span class="minus_amount">¥{{minusAmount}}</span>
				    </p>
				</div>
				<div>
					<span class="cabinAndDiscount">
						{{price.cabinList[0].cabinRank|cabin}}
						<span>{{price.cabinList[0].discount}}%</span>
					</span>
					<span (click)="endorse(price)" class="endorse">退改签</span>
				</div>
			</div>
			<div>
				<span class="order_btn" (click)="booking(price,i)">预</span>
			</div>
		</li>
	</ul>
</div>		
</ion-content>
