.in_bd{
	background-color:#f3f5f7; 
	.history_record{
		>p{ 
		 	font-size:1.2rem;
		 	color:#434d63;
		 	padding:4%;
		 }
		 >ul{ 
		 	padding:0 4%;
		 	display:flex;
		 	align-items: center;
		 	flex-wrap: wrap;
		 	justify-content: space-between; 
		 	>li{
		 		flex:1;
		 		height:2.5rem;
		 		line-height:2.5rem;
		 		text-align:center;
		 		border-radius:45px;
		 		background-color:white;
		 		
		 	}
		}
	}
	.hot_city{
		 >p{ 
		 	font-size:1.2rem;
		 	color:#434d63;
		 	padding:4%;
		 }
		 >ul{ 
		 	padding:0 4%;
		 	display:flex;
		 	align-items: center;
		 	flex-wrap: wrap;
		 	justify-content: space-between; 
		 	>li{
		 		flex:1;
		 		height:2.5rem;
		 		line-height:2.5rem;
		 		text-align:center;
		 		border-radius:45px;
		 		background-color:white;
		 		
		 	}
		 }
	}
}

