page-contact {
  ::-webkit-scrollbar {
    width: 0
  }

  $modal-size: 20vw;
  .search_hd{
    background-image:-webkit-linear-gradient(to right, #00d2ff, #00b4ff); 
    background-image:linear-gradient(to right,#00d2ff,#00b4ff);
  }
  .indexed-menu {
    width: 20px;
    text-align: center;
    float: right;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 104;
    .indexed-item {
      transition: all .3s ease-out;
      margin: 1px 0;
      color: #00b4ff;
      &.activate {
        transform: scale(1.5);
        color:  #00b4ff;
      }
    }
  }

  .content-ios {
    .indexed-menu {
      top: 50px;
    }
  }

  .modal {
    top: 50%;
    left: 50%;
    z-index: 100;
    position: fixed;
    pointer-events: none;
    width: $modal-size;
    height: $modal-size;
    line-height: $modal-size;
    margin-left: -($modal-size * 0.5);
    margin-top: -($modal-size * 0.5);
    color: #fff;
    font-size: 3em;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
    transition: opacity .5s;
    opacity: 0;
    &.show {
      opacity: 1
    }
  }
  .search_box{
    background-image:-webkit-linear-gradient(to right, #00d2ff, #00b4ff); 
    background-image:linear-gradient(to right,#00d2ff,#00b4ff);
  }
  .toolbar-background-ios{
    background: transparent;
  }
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
    color:#fff;
  }
  .segment-ios .segment-button{
    height: auto;
    line-height: 2.5rem;
    border: 1px solid transparent;
    margin: .6rem 0;
    >p{
      width:130px;
      margin:0 auto;
      text-align:center;
      color:#fff;
      border:1px solid #fff;
      border-radius:25px;
    }
  }
  .segment-ios .segment-button.segment-activated{
    background-color:transparent;
    >p{
      background-color:#fff;
      color:#2ebff0;
    }
  }
}
