<ion-header>
  <ion-navbar>
    <ion-title>订单预定</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<div class="content">
	<input type="hidden" value="{{switch}}" />
	<flightinfo [switch]="on"></flightinfo>
	<div (click)="goPas()">跳转</div>
</div>	
<!-- <div class="content">
	<div class="order">
		<div>
				<div class="route_bd">
					<div class="route">
						<div class="flex_left">
							<span>去</span>
							<p>{{flightMess[0].fromCityCn}} - {{flightMess[flightMess.length-1].toCityCn}}</p>
							<p>{{tripDay}}{{tripWeek}}</p>
						</div>
						<div class="flex_right">总时长{{totalTimes}}</div>
					</div>
				</div>
				<div class="routeMess" *ngFor="let item of flightMess; index as i; trackBy:trackByflightMess;">
					<div class="routeMess_top" *ngIf="isShow">
						<div class="cangwei">
							<div>
								<span *ngFor="let cabin of cabinDetail; index as n; trackBy:trackByCabinDetail;">
									{{cabin.cabinRank | cabin }}
									<label *ngIf="n!=cabinDetail.length-1">+ </label>
								</span>
							</div>
							<div><span (click)="endorse()" class="gaiqian">退改签/行李额</span></div>
						</div>
						<div class="shrink" (click)="shrink()">
							<span class="iconfont">&#xe8a8;</span>
						</div>
					</div>
					<div *ngIf="!isShow">
						<div class="simpleRouterMess">
							<div class="shrink" (click)="shrink()">
								<span class="iconfont">&#xe8a9;</span>
							</div>
							<div class="flex_div">
								<div class="time">{{flightMess[0].fromDate.substr(-5,5)}}</div>
								<div class="airport">{{flightMess[0].fromAirportCn}}{{flightMess[0].fromTower}}</div>
							</div>
							<div class="midmess">
								<div *ngIf="istranCity">
									<p class="type">转</p>
									<p class="tranformCity">{{tranCity}}</p>
								</div>
								<div *ngIf="isstopCity">
									<p class="type">经停</p>
									<p class="stopoverCity">停留{{stopoverCityName}}</p>
								</div>					
							</div>
							<div class="flex_div">
								<div class="time">{{flightMess[flightMess.length-1].toDate.substr(-5,5)}}</div>
								<div class="airport">{{flightMess[flightMess.length-1].toAirportCn}}{{flightMess[flightMess.length-1].toTower}}</div>
							</div>
					    </div>
						<div class="segBottom">
							<div class="flex_left">
								<span class="sign">
								    <img src="../assets/img/airlines/{{flightMess[0].flightNo.substr(0,2)}}.PNG" />
								</span>						
								<span class="flight_blue_color">{{flightMess[0].airlineChn}}{{flightMess[0].flightNo}}
									<span *ngIf="flightMess[0].shareFlightNo"><span class="realFlightNo">实际承运</span>{{flightMess[0].shareFlightNo}}</span>| 机型{{flightMess[0].planeModel}}</span>
							</div>
							<div class="flex_right">
								<span (click)="endorse()" class="gaiqian">退改签/行李额</span>
							</div>
						</div>
					</div>
					<div class="routeMess_bottom" *ngIf="isShow">
						<div class="flight">
							<span class="point_box">
								<span class="point top"></span>
						    	<span class="point bottom"></span>
							</span>
							<div class="seg">
								<div class="times">
									<div class="time">{{item.fromDate.substr(-5,5)}}</div>
									<div class="duration">{{item.flightDuration}}m</div>
									<div class="time">{{item.toDate.substr(-5,5)}}</div>
								</div>
								<div class="airport">
									<div class="airpt">{{item.fromAirportCn}}{{item.fromTower}}</div>
									<div *ngIf="istranCity">
										<p class="type">转</p>
										<p class="tranformCity">{{tranCity}}</p>
									</div>
									<div *ngIf="isstopCity">
										<p class="type">经停</p>
										<p class="stopoverCity">停留{{stopoverCityName}}</p>
									</div>			
									<div class="airpt">{{item.toAirportCn}}{{item.toTower}}</div>
								</div>
								<div class="airline">
									<div>{{item.airlineChn}}</div>
									<div>{{item.flightNo}}</div>
									<div *ngIf="item.shareFlightNo"><span class="realFlightNo">实际承运</span>{{item.shareFlightNo}}</div>
									<div>{{item.planeModel}}</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
		</div>
		
		<div [hidden]="!isDisplay">
			<div >
				<div class="route_bd">
					<div class="route">
						<div class="flex_left">
							<span>回</span>
							<p>{{flightSeg[0].fromCityCn}} - {{flightSeg[flightSeg.length-1].toCityCn}}</p>
							<p>{{tripDay}}{{tripWeek}}</p>
						</div>
						<div class="flex_right">总时长{{totalFlightTimes}}</div>
					</div>
				</div>
				<div class="routeMess" *ngFor="let seg of flightSeg; index as i; trackBy:trackByflightSeg;">
					<div class="routeMess_top" *ngIf="isShow">
						<div class="cangwei">
							<div>
								<span *ngFor="let cabin of cabinDetailSeg; index as n; trackBy:trackByCabinDetail;">
									{{cabin.cabinRank | cabin }}
									<label *ngIf="n!=cabinDetailSeg.length-1">+ </label>
								</span>
							</div>
							<div><span (click)="endorse()" class="gaiqian">退改签/行李额</span></div>
						</div>
						<div class="shrink" (click)="shrink()">
							<span class="iconfont" *ngIf="isShow">&#xe8a8;</span>
						</div>
					</div>
					<div *ngIf="!isShow">
						<div class="simpleRouterMess">
							<div class="shrink" (click)="shrink()">
								<span class="iconfont">&#xe8a9;</span>
							</div>
							<div class="flex_div">
								<div class="time">{{flightSeg[0].fromDate.substr(-5,5)}}</div>
								<div class="airport">{{flightSeg[0].fromAirportCn}}{{flightSeg[0].fromTower}}</div>
							</div>
							<div class="midmess">
								<div *ngIf="istranCity">
									<p class="type">转</p>
									<p class="tranformCity">{{tranCity}}</p>
								</div>
								<div *ngIf="isstopCity">
									<p class="type">经停</p>
									<p class="stopoverCity">停留{{stopoverCityName}}</p>
								</div>					
							</div>
							<div class="flex_div">
								<div class="time">{{flightSeg[flightSeg.length-1].toDate.substr(-5,5)}}</div>
								<div class="airport">{{flightSeg[flightSeg.length-1].toAirportCn}}{{flightSeg[flightSeg.length-1].toTower}}</div>
							</div>
						</div>
						<div class="segBottom">
							<div class="flex_left">
								<span>{{flightSeg[0].airlineChn}}{{flightSeg[0].flightNo}}</span>
								<span *ngIf="flightSeg[0].shareFlightNo"><span class="realFlightNo">实际承运</span>{{flightSeg[0].shareFlightNo}}</span>
								<span>{{flightSeg[0].planeModel}}</span>
							</div>
							<div class="flex_right">
								<span (click)="endorse()" class="gaiqian">退改签/行李额</span>
							</div>
						</div>
					</div>
					<div class="routeMess_bottom" *ngIf="isShow">
						<div class="flight">
							<span class="point top"></span>
							<span class="point bottom"></span>
							<div class="seg">
								<div class="flex_left">
									<div class="times">
										<div class="time">{{seg.fromDate.substr(-5,5)}}</div>
										<div class="duration">{{seg.flightDuration}}m</div>
										<div class="time">{{seg.toDate.substr(-5,5)}}</div>
									</div>
									<div class="airport">
										<div class="airpt">{{seg.fromAirportCn}}{{seg.fromTower}}</div>
										<div *ngIf="istranCity">
											<p class="type">转</p>
											<p class="tranformCity">{{tranCity}}</p>
										</div>
										<div *ngIf="isstopCity">
											<p class="type">经停</p>
											<p class="stopoverCity">停留{{stopoverCityName}}</p>
										</div>		
										<div class="airpt">{{seg.toAirportCn}}{{seg.toTower}}</div>
									</div>
								</div>
								<div class="airline flex_right">
									<div>{{seg.airlineChn}}</div>
									<div>{{seg.flightNo}}</div>
									<div *ngIf="seg.shareFlightNo"><span class="realFlightNo">实际承运</span>{{seg.shareFlightNo}}</div>
									<div>{{seg.planeModel}}</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>	
		</div>	
	</div>	
</div> -->
	<!-- <div class="passenger">
		<div class="title">
			<b>请选择乘机人</b>
			<span>成人<span class="count"> {{adultCount}} </span>人</span>
		</div>
		<div class="nameList">
			<ul>
				<li  *ngFor="let item of passengerList; index as i; trackBy:trackByPassengerList;">
					<button ion-button (click)="checked(item,i)" class="name"></button>
				</li>					
				<li>
					<button ion-button (click)="addPassenger" class="name nameChecked">新增</button>
				</li>
			</ul>
		</div>
		<div class="choosedNameList">
			<ul>
				<li *ngFor="let name of choosedNameList; index as i; trackBy:trackByChoosedNameList;">
					<div class="flex">
						<span (click)="deleteName(name)" class="iconfont delete">&#xe6e8;</span>
						<div>
							<p>{{name.firstNameCn}}</p>
							<p>{{name.docId}}</p>
						</div>
					</div>
					<div><span (click)="editName(name)" class="iconfont detail">&#xe600;</span></div>
				</li>						
			</ul>
		</div>
	</div> -->
	<!-- <div class="otherMess">
		<div class="same">
			<div class="flex">
				<div class="title">联系人</div>
				<div class="fullWidth">
					<input type="text" class="form-control" [(ngModel)]="contactUser_" name="contactUser_" />
				</div>
			</div>
		</div>
		<div class="same">
			<div class="flex">
				<div class="title">联系手机</div>
				<div class="fullWidth">
					<input type="text" class="form-control" [(ngModel)]="phoneNumber_" name="phoneNumber_" />
				</div>
			</div>
		</div>
		<div class="same">
			<div class="flex">
				<div class="title">已选保险</div>
				<div class="baoxian">
					<span *ngFor="let item of insurance_;" [hidden]="item.count">{{item.displayName}}x{{item.count}}</span>
				</div>
			</div>
			<div (click)="toInsurance"><span class="iconfont detail">&#xe600;</span></div>
		</div>
		<div class="claim">
			<div>
				<p class="title">报销凭证</p>
				<p class="explain">航班起飞后7天可补开报销凭证</p>
			</div>
			<div>
				<ion-toggle [(ngModel)]="isReimbursement_" name="isReimbursement_"></ion-toggle>
			</div>
		</div>
		<div [hidden]="isReimbursement_" class="claimMess">
			<div class="same">
				<div class="title">邮寄运费</div>
				<div></div>
				<div class="money"><span class="currencyType">￥</span><span class="count">{{postage}}</span></div>
			</div>
			<div class="same">
				<div class="flex">
					<div class="title">收件人</div>
					<div class="fullWidth">
						<input type="text" class="form-control" [(ngModel)]="reviceName" name="reviceName" />
					</div>
				</div>
			</div>
			<div class="same">
				<div class="flex">
					<div class="title">手机号码</div>
					<div class="fullWidth">
						<input type="text" class="form-control" [(ngModel)]="phone" name="phone" />
					</div>
				</div>
			</div>
			<div class="same">
				<div class="flex">
					<div class="title">邮寄地址</div>
					<div class="fullWidth">
						<input type="text" class="form-control" [(ngModel)]="address" name="address" />
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- <p class="explains">点击支付表示阅读及同意 
		<span (click)="tongzhi1()">锂电池及危险品通知</span> 和
		<span (click)="tongzhi2()"> 机票预订须知</span>
	</p> -->			
	<!-- <div class="shade" (click)="particulars" [hidden]="isParticulars"></div>
	<div class="bookingDetail" [hidden]="isParticulars">
		<div class="items">
			<div class="item">
				<p>成人票价</p>
				<p class="money"><span>￥{{orderMess.money}}</span> x <span>{{adultCount}}</span></p>
			</div>
			<div class="item"  *ngIf="orderMess.otherFee">
				<p>基建+燃油</p>
				<p class="money"><span>￥{{orderMess.otherFee}}</span> x <span>{{adultCount}}</span></p>
			</div>
			<div class="item"  *ngIf="orderMess.tax">
				<p>税费</p>
				<p class="money"><span>￥{{orderMess.tax}}</span> x <span>{{adultCount}}</span></p>
			</div>
		</div>
		<div class="items">
			<div class="item" *ngFor="let item of insurance_;">
				<div *ngIf="item.count">
					<p>{{item.displayName}}</p>
					<p class="money"><span>￥{{item.insuranceFee}}</span> x <span>{{item.count}}</span></p>
				</div>
				
			</div>
		</div>
		<div class="items" *ngIf="isReimbursement_">
			<div class="item">
				<p>邮寄费用</p>
				<p class="money"><span>￥{{postage}}</span></p>
			</div>
		</div> 
	</div>-->
	
<!--底部-->
<!-- <div class="footer">
	<div>
		<div class="money">￥<span class="count">{{price_}}</span></div>
		<div class="cabin">{{cabin?'经济舱':"头等舱"}}</div>
	</div>
	<div class="particulars" (click)="particulars">明细 
		<span [hidden]="isParticulars"  class="iconfont detail">&#xe6e9;</span>
		<span [hidden]="!isParticulars" class="iconfont detail">&#xe6ea;</span>
	</div>
</div> 
<button (click)="toPay" class="topay">去支付</button>-->
</ion-content>
