page-search {
    .search_tab_msg{
        position:absolute;
        top:23px;
        right:15px;
        z-index: 111;
    }
    .index_swiper{ 
        position: relative; 
        .swiper_img{
            display:block;
            border:0;
            width:100%;
            height:auto;
        }
        .kuai{  
            height:24px;
            background: white;
            margin:0 4%;
            position: absolute;
            bottom:-1px;
            width:92%;
            z-index: 10;
            border-radius:5px 5px 0 0;
        }
    }
    .counter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .count{
            width:30px;
            text-align: center;                       
        }
        .counterLeft,.counterRight{
            color:#00b4ff;
            font-size:1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background:transparent;
        }
        .unused{
            border-color:gray;
            color:gray;
        }
    }
	.content{  
        padding:0 4%;      
        .main{
            width:100%;
            padding:0 20px;             
            border-radius:0 0 5px 5px;
            box-shadow: 0 0 10px 2px #aae6ff;
            .main_bd{
                width:100%;
                background: url('../../assets/img/search/index_map.png') top center no-repeat;
                background-size:100%;
                .city{
                    display: flex;
                    >div{
                        width:45%;
                        text-align: center;
                        font-size: 24px;
                        color:#00b4ff;
                    }
                    .ex{
                        font-size: 30px;                                   
                    }
                    .exchange{
                        width:10%;
                        transition: .5s;                    
                    }
                    .rotateEx{
                        transform: rotate(360deg);
                    }
                }
                .date{
                    display: flex;
                    justify-content: space-between;
                    .mu-checkbox-icon{
                        margin-left:5px;
                    }
                    .date_flex{ flex:3; }            
                    .dateItem{
                        position:relative;
                        display: flex;
                        height: 4rem;
                        align-items: center;
                        .dateBox{
                            height:4rem;
                            line-height:4rem;           
                        }
                        .iconfont{
                            color:#00b4ff;
                            font-size: 1.4rem;
                            margin-right: 0.8rem;                       
                        }
                        .riqi{
                            max-width:70px;
                            font-size: 1.6rem;
                            color:#00b4ff;
                            background:transparent;
                        }
                        .week{
                            color:gray;
                            margin-left:5px;
                            font-size:1.4rem;
                        }                   
                    }
                    .dataItem1{
                        position:relative;
                        display: flex;
                        height: 1rem;
                        align-items: center; 
                        .iconfont{
                            color:#c4c4c4;                    
                        }
                          
                    }
                    .routeType{
                        display:flex;
                        align-items: center; 
                        .label-left{
                            position:relative;
                            display:inline-block;
                            height:24px;
                            line-height:24px;
                            cursor:pointer;
                            -webkit-user-select:none;
                            -moz-user-select:none;
                            -ms-user-select:none;
                        }
                        .rt_tx{
                            font-size: 14px;
                            vertical-align:top;
                            margin-right:0.5rem;
                        }                                      
                    }
                }
            }
            .ps_bd{
                width:100%;
                border-top:1px solid #ececec;
                .passenger{
                    .flex_item{
                            width: 100%; 
                            height:1rem;
                            display:flex;
                            align-items: center;
                            .flex_1{
                                flex:1;
                                -webkit-flex:1;
                                -moz-flex:1;
                            } 
                            .flex_item_tx{
                                font-size:1.2rem;
                                color:#999;
                                
                            }
                            .flex_item_blue{
                                display:inline-block;
                                margin-left: 5px;
                                color:#00b4ff;
                            }
                        }
                    .ps_item{ 
                        width: 100%; 
                        height:4rem;
                        display:flex;
                        align-items: center; 
                        .flex_1{
                            flex:1;
                            -webkit-flex:1;
                            -moz-flex:1;
                            .adultTextSmall{
                                font-size: 1.2rem;
                                color:#aaa;
                            }
                        } 
                        .adultSign{
                            color:#00b4ff;
                            font-size: 14px;
                            margin-right: 8px;   
                        }
                        .adultText{
                            font-size: 14px;
                        }
                    }
                }
            }
            .cabinType{
                padding:1rem 0 2.5rem;   
            }
        }
        .searchbtn{
            margin-top:2rem;
            .search{
                display:block;
                background-image:-webkit-linear-gradient(to right, #3ff8ff, #00b4ff); 
                background-image:linear-gradient(to right,#3ff8ff,#00b4ff);
                color:white;
                border-radius: 45px;
                width:100%;
                height:3.5rem;
                line-height:3.5rem;
                text-align:center;
                font-size:16px;
            }
        }
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 27px;
    }
    .swiper-pagination-bullet{
        background:#fff;
        opacity:0.7;
    }
    .swiper-pagination-bullet-active{
        background:#fffc00;
        opacity:1;
    }
    .segment-ios .segment-button{
        position: relative;
        height:2.3rem;
        line-height:2.3rem;
        border-color:#bfbfbf;
        color:#aaa;
        font-size:1.3rem;
    }
    .segment-ios .segment-button.segment-activated{
        background:none;
        color:#00b4ff;
        border-color:#00b4ff;
        .cabin_box{
                    position: relative;
                    >span{
                        display:block;
                        position: absolute;
                        top:5px;
                        right:0;
                        z-index:114;
                        font-size:1.2rem;
                        color:#fff;
                    }
                    .cabin_tip{
                        position: absolute;
                        top:11px;
                        right:0px;
                        width: 0px;
                        height: 0px;
                        border-right: 35px solid #00b4ff;   
                        border-bottom: 0px solid transparent;
                        border-top: 20px solid transparent;

                    }      
                }
    }
    .toolbar-ios-primary .toolbar-background-ios{
        background-image:-webkit-linear-gradient(to right, #3ff8ff, #00b4ff); 
        background-image:linear-gradient(to right,#3ff8ff,#00b4ff);
    }
        
}    